/* цвет заголовков #212121 */
/* цвет вторичного текста #757575 */
/* основной фон #E5E5E5 */
/* фон секций #F5F4FA */
/* акцент #2196F3 */
/* цвет шапки #FFFFFF */
/* цвет герой #FFFFFF */
/* цвет акцента портфолио  rgba(33, 150, 243, 0.9) */
/* цвет шрифта кнопок #FFFFFF */

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  --primary-title-color: #212121;
  --secondary-text-color: #757575;
  --primary-background-color: #ffffff; /*изменить на #ffffff */
  --accent-color: #2196f3;
  --section-background-color: #f5f4fa;
  --header-background-color: #ffffff;
  --hero-white-color: #ffffff;
  --portfolio-background: rgba(33, 150, 243, 0.9);
  --button-white-text: #ffffff;
  --fotter-background-color: #2F303A;
}

body {
  background-color: var(--primary-background-color);
  color: var(--primary-title-color);
  font-family: Roboto, sans-serif;
}

/* ширина контейнера */
.conteiner {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  }

/* общие сбросы */
.link {
  text-decoration: none;
  color: var(--primary-title-color);
  padding: 0;
  margin: 0;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}
/* черта под шапкой */

.header {
  border-bottom: 1px solid #ECECEC;;
}
/* лого */
.logo {
  display: block;
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
}
.logo-accent {
  color: var(--accent-color);
}
.logo:hover,
.logo:focus {
  color: var(--accent-color);
}
.logo-accent:hover,
.logo-accent:focus {
  color: var(--primary-title-color);
}

/* категории */
.site-nav .link {
  padding-top: 32px;
  padding-bottom: 32px;
  display: block;

  color: var(--primary-title-color);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
}

/* контейнер навигации */
.site-nav {
  display: flex;
  margin-left: 85px;
}
.site-nav .item + .item {
  margin-left: 50px;
}
.main-nav {
  display: flex;
  align-items: center;
  margin-right: auto;
}

/* ховер навигации */
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}
.site-nav .link.current {
  color: var(--accent-color);
}

/* контакты в шапке */
.contacts .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  

  color: var(--secondary-text-color);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
}
.contacts .link:hover,
.contacts .link:focus {
  color: var(--accent-color);
}

/* контейнер адрес */
.contacts .item + .item {
  margin-left: 50px;
}
.contacts {
  display: flex;
}

/* герой */
.hero {  
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  }

.conteiner-hero {
  padding-top: 200px;
  padding-bottom: 280px;
  padding-left: 452px;
  padding-right: 452px;
  background-color: var(--secondary-text-color);
  }

/* заголовок герой */
.hero-title {
  margin-bottom: 30px;
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--hero-white-color);
  }
  
/* кнопка заказать и подписаться */
.button {
  color: var(--hero-white-color);
  background-color: var(--accent-color);
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  min-width: 200px;
  padding: 10px 32px;
  border-radius: 4px;
  text-align: center;
}

/* секция преимущества */
.features-list {
  display: flex;  
  padding-top:94px;
  padding-bottom: 94px;
  }

.features-list .item + .item {
  margin-left: 30px;
}

/* скрытый заголовок секции */
.features-title-hidden {
  display: none;
}

/* заголовки секции */
.features .features-title {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.features-title {
  padding-top: 30px;
  padding-bottom: 10px;
}
/* описание под заголовком */
.features .features-text {
  color: var(--secondary-text-color);
  font-style: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
}
/* позиционирование картинок */
.features-img {
  display: flex;
  width: 270px;
  height: 120px;
  background: var(--section-background-color);
  border-radius: 4px;
  justify-content: center;
}

/* секция чем мы занимаемся */
.section-activity.conteiner {
  padding-bottom: 94px;
  }
.section-activity .activity-title {
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.03em;
  text-align: center;
}
.section-activity .activity-subtitle {
  color: var(--hero-white-color);
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.activity-title {
  margin-bottom: 50px;
}
.activity-list {
  display: flex;
  justify-content: center;
}
.activity-list .item {
  width: calc((100% - 60px) / 3 );
  margin-left: 30px;
}
.activity-list .item:nth-last-child(3n) {
  margin-left: 0;
}
.activity-list .item {
  text-align: center;
  background-color: rgba(47, 48, 58, 0.8);;
}
/* секция команда */
.section-team .conteiner {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: var(--section-background-color);                                     
}

.team-list {
  display: flex;    
}
.section-team .team-title {
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
  text-align: center;
}
.team-list .item + .item {
  margin-left: 30px;
}
.team-list .item {
  text-align: center;
}
.section-team .team-name {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
  text-align: center
}
.section-team .team-aside {
  color: var(--secondary-text-color);
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
}
.team-social .link:hover,
.team-social .link:focus {
  color: var(--accent-color);
}
.team-name {
  margin-bottom: 10px;
}
.team-aside {
  margin-bottom: 16px;
}
 
/* клиенты */
.section-clients .clients-title {
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.03em;
}
.section-clients .conteiner {
  padding-top: 94px;
  padding-bottom: 94px;
}
.clients-list .list:hover,
.clients-list .list:focus {
  color: var(--accent-color);
}
.clients-title {
  margin-bottom: 50px;
  text-align: center;
}
.clients-list {
  display: flex;
  justify-content: center;
}
/* позиционирование картинок */
.features-img {
  width: 170px;
  height: 90px;
  }

  .clients-list .item {
  width: calc((100% - 30px * 4) / 5);
  margin-right: 30px;
}
/* футер */
.footer .conteiner {
  max-width: 1600px;
  padding-top: 72px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--fotter-background-color);
  justify-content: space-between;
  align-items: baseline;
}
.footer .button {
  display: block;
}
/* адрес в футере */
.address-footer {
  display: flex;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--hero-white-color);
  flex-direction: column;  
}
.address-footer .contacts {
  color: rgba(255, 255, 255, 0.6);
}
.label .link:hover,
.label .link:focus {
  color: var(--accent-color);
}
.social,
.newsletter {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--button-white-text);
}
.copyright {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.4);
}

.text-aside {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
}
.portfolio-gallery .conteiner{
  padding-top: 94px;
  padding-bottom: 94px;
  }
/* скрытый заголовок портфолио */
.portfolio-title-hidden {
  display: none;
}
/* фильтр */
.btn {
  margin-bottom: 50px;
  display: flex;
  justify-content: center;  
  }

.btn .portfolio-button {
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.03em;
  color: var(--primary-title-color);
  background-color: var(--section-background-color);
}
.btn-item {
  margin-left: 8px;
}
.btn-item:first-child {
  margin-left: 0;
}

.portfolio-button:hover,
.portfolio-button:focus {
  color: var(--button-white-text);
  background-color: var(--accent-color);
}
.portfolio-title {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
  color: var(--primary-title-color);
  margin-bottom: 4px;
}
.portfolio-aside {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}
.portfolio-text {
  padding: 63px 24px;
  /* width: 322px; */
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: var(--button-white-text);
  background-color: var(--accent-color);
}
.portfolio .current {
  color: var(--button-white-text);
  background-color: var(--accent-color);
}

/* портфолио контейнер */
.portfolio {
  display: flex;
  flex-wrap: wrap;
}

/* сетка в портфолио  margin-right: 30px; */
.portfolio .item {
  width: calc((100% - 30px * 2) / 3);
  margin-right: 30px;
}

.portfolio .item:nth-child(3n) {
  margin-right: 0;

}
/*.portfolio .item:nth-child(3n) {
  margin-right: 0;
}
.portfolio .item:nth-child(-n + 3) {
  margin-bottom: 0; */
}

